

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar {
 margin-bottom: 0;
}

.image-div {
	padding: 10px;
	border-radius: 100%;
}

.hover {
	transition: 1s;
}
.hover:hover {
	opacity: 0.7;
}

.wrapper {
margin: auto;

}
.section-one {
	width: 100%;
	min-height: 600px;
	max-height: auto;
	display: inline-flex;
	  
  	background-image: url("../img/section-one.jpg");
  	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size: 100% auto;
}

.section-two {
  width: 100%;
  height: 400px;
  background-color: #34495e;

}

.sec-two-title {
	margin-bottom: 20px;
}

.section-three {
  width: 100%;
  height: 400px;
  background-color: #f1c40f;
}

.section-four {
  width: 100%;
  height: 400px;
  background-color: #e74c3c;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #2ecc71;
}

.margin-list {
	padding: 30px;
}

.footer-menu {
	list-style-type: none;
	padding: 10px;
}

.footer-menu li {
display: inline;
}












